<%= link_to t(".eng"), locale: Settings.en %>
<%= link_to t(".vi"), locale: Settings.vi %>
<% provide :title, t(".help_pages") %>
<h1><%= t(".help_pages") %></h1>
<p>
  <%= t(".get_help_on_ruby_on_rails") %> <%= link_to t(".rails_tutorial_help_pages"), Settings.rails_tutorial_help %>
  <%= t(".get_help_on_this_sample_app") %> <%= link_to t(".ruby_on_rails_tutorial_book"), Settings.rails_tutorial_book %>
</p>
