<footer class="footer">
  <small>
    <%= link_to t(".ruby_on_rails_tutorial"), Settings.rails_tutorial %>
    <%= link_to t(".michael_hartl"), Settings.michael_hartl %>
    </small>
    <nav>
      <ul>
        <li><%= link_to t(".about_pages"), Settings.about_pages %></li>
        <li><%= link_to t(".contact_pages"), Settings.contact_pages %></li>
        <li><%= link_to t(".news"), Settings.new_rails %></li>
      </ul>
    </nav>
</footer>
