<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  <%= link_to t(".sample_app"), root_path, id: "logo" %>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to t(".home_pages"), Settings.home_pages %></li>
      <li><%= link_to t(".help_pages"), Settings.help_pages %></li>
      <li><%= link_to t(".login"), "#" %></li>
      <li><%= link_to t(".eng"), locale: Settings.en %></li>
      <li><%= link_to t(".vi"), locale: Settings.vi %></li>
    </ul>
  </nav>
  </div>
</header>
